::ng-deep .p-paginator .p-paginator-page.p-highlight {
    background-color: #f1f5f9; /* Cambia esto al color que desees */
    border-color: #f1f5f9; /* Cambia esto al color que desees */
    color: #334155; /* Cambia esto al color que desees */
  }
  