<div class="columns is-centered">

  <div class="column is-2 ">
    <div class="box m-5">
      <input class="input is-info" type="text" placeholder="Buscar línea" [(ngModel)]="searchTerm" (input)="search()">

      <div class="is-flex is-justify-content-center">

        <table class="table is-hoverable m-6 mb-0">
          <thead>
            <tr>
              <th class="has-text-centered">LINEAS</th>

            </tr>
          </thead>
          <tbody>

            @for(linea of lineas; track lineas){
              <tr>
              <td class="has-text-centered"> {{ linea }}</td>
            </tr>
            }


          </tbody>
        </table>
      </div>


    </div>


  </div>
</div>