 <!-- Footer -->
 <footer class="footer">
  <div class="content has-text-centered">
      <p>
          <strong>MobiBus</strong> &copy; 2023. All rights reserved.
      </p>
      <p>
          <a href="#">Términos</a> |
          <a href="#">Política de Privacidad</a> |
          <a href="#">Política de cookies</a> |
          <a href="#">Configuración de cookies</a> |
          <a href="#">Código ético</a>
      </p>
      <p>
          <a href="https://www.instagram.com/" >
              <img class="icons" src="../../../../assets/img/ig.png">
          </a>
          <a href="https://www.youtube.com/" >
              <img class="icons" src="../../../../assets/img/yt.png" >
          </a>
          <a href="https://www.facebook.com/" >
              <img class="icons" src="../../../../assets/img/fb.png" >
          </a>
      </p>
  </div>
</footer>