@if (status != null){
<div class="bg-red-500 mt-3 text-white p-4">
    {{ status!.error.message }} - {{ status!.message }}
</div>
}@else{
<div class="flex items-center justify-center ">
    <div class="bg-white p-8 rounded-lg max-w-sm w-full ">
        <div class="flex justify-center mb-5">
            <span class="inline-block bg-gray-200 rounded-full p-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="currentColor"
                        d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z" />
                </svg>
            </span>
        </div>
        <h2 class="text-2xl font-semibold text-center mb-4">Create a new favourite stop </h2>
        <p class="text-gray-600 text-center mb-5">Enter an alias</p>


        <form [formGroup]="paradaForm" (ngSubmit)="onSubmit()">
            <div class="mb-4">
                <label for="alias" class="block text-gray-700 text-sm font-semibold mb-2">Alias *</label>
                <input type="text" id="alias" formControlName="alias" required (blur)="lostFocus.alias = true"
                  class="form-input w-full px-4 py-2 border rounded-lg text-gray-700 focus:ring-blue-500" placeholder="Alias">
              </div>
              <div class="text-sm text-red-600 mt-1 mb-2">
                @if(paradaForm.get('alias')?.hasError('required') && lostFocus.alias){
                <p class="mt-2 text-sm text-red-600 dark:text-red-500">Alias required</p>
                }
                @if(paradaForm.get('alias')?.hasError('minlength') && lostFocus.alias){
                <p class="mt-2 text-sm text-red-600 dark:text-red-500">The alias must have more than 3 characters</p>
                }
                @if(paradaForm.get('alias')?.hasError('maxlength') && lostFocus.alias){
                <p class="mt-2 text-sm text-red-600 dark:text-red-500">The alias must have less than 15 characters</p>
                }
              </div>

              @if(paradaForm.valid){
                <button type="submit" class="w-full bg-red-600 text-white px-4 py-2 rounded-lg 
              hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-blue-500 
              focus:ring-opacity-50" >Create</button>
              }@else{
                <button type="button" class=" w-full text-white bg-red-500 cursor-not-allowed font-medium rounded-lg text-sm px-5 py-2.5 text-center" disabled>Create</button>
               
              }
        </form>

    </div>
</div>

}