@if (status != null) {


}@else {
<div class="container">
  <div>
    <p-paginator (onPageChange)="onPageChang($event)" [first]="oPaginatorState.first!" [rows]="oPaginatorState.rows!"
      [totalRecords]="oPage?.totalElements || 0" [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>



  <p-table class="tabla"[value]="users">
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Role</th>
        <th>Herramientas</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <td>{{user.id}}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>
          @if(user.role==true){
          <span>User</span>
          }@else {
          <span>Admin</span>
          }
        </td>

        <td>
          <p-button class=" m-3" icon="pi pi-eye" [raised]="true" [routerLink]="['/admin','user','view',user.id]"
            size="small"></p-button>
          <p-button class=" m-3" icon="pi pi-arrow-circle-up" [raised]="true" (click)="doView(user)"
            size="small"></p-button>
          <p-button class=" m-3" icon="pi pi-pencil" [raised]="true" [routerLink]="['/admin','user','edit',user.id]"
            severity="warning" size="small"></p-button>
          <p-button class=" m-3" icon="pi pi-trash" [raised]="true" (click)="doRemove(user)" severity="danger"
            size="small"></p-button>

        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div>
        Se estan viendo {{users ? users.length : 0 }} users.
      </div>
    </ng-template>
  </p-table>
</div>
  </div>
}




<p-confirmDialog #cd>
  <ng-template pTemplate="header">
    <h5><i class="pi pi-exclamation-triangle p-mr-3"></i> Eliminación de Jugador</h5>
  </ng-template>
  <ng-template pTemplate="message">
    <div class="p-container p-d-flex p-align-items-center p-justify-content-center">
      <app-admin-user-detail-unrouted [id]="oUserToRemove!.id"></app-admin-user-detail-unrouted>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <p>¿Seguro que quieres eliminar el Jugador?</p>
    <button class="p-button p-button-primary mxy-1" icon="pi pi-times" (click)="cd.reject()">
      <span class="p-button-label">No</span>
    </button>
    <button class="p-button p-button-danger mxy-1" icon="pi pi-check" (click)="cd.accept()">
      <span class="p-button-label">Sí</span>
    </button>
  </ng-template>
</p-confirmDialog>