
@if (status != null) {

  <div class="notification is-danger mt-3">
    {{ status!.error.message }} - {{ status!.message }}
  </div>
  
  
  }@else {
  <div class="columns is-centered">
    <div class="column is-9">
      <div class="box">
        <div class="has-text-centered m-6">
          @if(id_user>0){
            <h3>Filtered by user ({{id_user}} - {{oUser?.username}})
          <h3>
            <a type="button" class="button is-rounded is-1 m-3"
             [routerLink]="['/admin','paradaFav','plist']">

             Reset filter</a></h3>
            </h3>
            }@else{
              <h3>No active filter</h3>
            }
        <p>Se estan viendo {{oPage?.numberOfElements }} Paradas favs.</p>
        </div>
        <div class="is-flex is-justify-content-center">
        <table class="table is-hoverable m-6 mb-0">
          <thead>
            <tr>
              <th class="has-text-centered" (click)="doOrder('id')">ID</th>
              <th class="has-text-centered" (click)="doOrder('alias')">ALIAS</th>
              <th class="has-text-centered" (click)="doOrder('id_parada')">ID PARADA</th>
              <th class="has-text-centered">USER</th>
              <th class="has-text-centered">HERRAMIENTAS</th>
            </tr>
          </thead>
          <tbody>
            @for(parada_fav of oPage?.content; track parada_fav.id){
            <tr>
              <td class="has-text-centered is-vcentered">{{ parada_fav.id }}</td>
              <td class="has-text-centered is-vcentered">{{ parada_fav.alias }}</td>
              <td class="has-text-centered is-vcentered">{{ parada_fav.id_parada }}</td>
              
              <td class="has-text-centered is-vcentered">
                <a [routerLink]="['/admin','paradaFav','plist','byuser', parada_fav.user.id]">
                  {{parada_fav.user.id}} {{parada_fav.user.username}}
                </a>
              </td>
  
              <td class="has-text-centered">
                <button class="button is-rounded is-1 m-3" [routerLink]="['/admin','paradaFav','view', parada_fav.id]">
                  <i class="fa-solid fa-circle-info"></i> </button>
                <button class="button is-rounded is-1 m-3" (click)="doView(parada_fav)">
                  <i class="fa-solid fa-arrow-up"></i></button>
                <button class="button is-rounded is-1 m-3" [routerLink]="['/admin','paradaFav','edit', parada_fav.id]">
                  <i class="fa-regular fa-pen-to-square"></i> </button>
                <button class="button is-rounded is-1 m-3" (click)="doRemove(parada_fav)">
                  <i class="fa-regular fa-trash-can"></i></button>
              </td>
  
            </tr>
            }
          </tbody>
        </table>
      </div>
  
  
        <p-paginator (onPageChange)="onPageChang($event)" [first]="oPaginatorState.first!" [rows]="oPaginatorState.rows!"
          [totalRecords]="oPage?.totalElements || 0" [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
  
      </div>
  
  
    </div>
  </div>
  }
  
  
