@if (status != null) {
<div class="bg-red-500 mt-3 text-white p-4">
  {{ status!.error.message }} - {{ status!.message }}
</div>
}@else{
<div class="flex justify-center mb-10">
  <div class="w-full md:w-4/4 lg:w-10/12 xl:w-8/12 ">
    <div class="bg-white border rounded-lg shadow-md pb-4">
      <div class="text-center mt-14">
        @if(id_user > 0){
        <h3 class="text-lg">Filtrat per usuari ({{id_user}} - {{oUser?.username}})</h3>
        <a [routerLink]="['/admin','paradaFav','plist']" type="button"
          class="inline-block rounded-full border border-gray-300 px-3 py-1 m-1 hover:bg-gray-200 text-gray-800">
          Restableix el filtre</a>
        }@else{
        <h3 class="text-lg">Sense filtre actiu</h3>
        }
        Se estan veient {{oPage?.numberOfElements}} parades favorites
      </div>

      <div class="overflow-x-auto m-4">
        <table class="mx-auto text-center divide-y mt-16">
          <thead class="text-md text-gray-700 uppercase">
            <tr>
              <th class="px-4 py-2 text-center cursor-pointer" (click)="doOrder('id')">ID</th>
              <th class="px-4 py-2 text-center cursor-pointer" (click)="doOrder('alias')">ALIAS</th>
              <th class="px-4 py-2 text-center cursor-pointer" (click)="doOrder('id_parada')">ID PARADA</th>
              <th class="px-4 py-2 text-center ">USUARI</th>
              <th class="px-4 py-2 text-center"><i class="fa-solid fa-gear"></i></th>
            </tr>
          </thead>
          <tbody>
            @for(parada_fav of oPage?.content; track parada_fav.id){
            <tr class="border-b">
              <td class="px-4 py-2 text-center">{{ parada_fav.id }}</td>
              <td class="px-4 py-2 text-center">{{ parada_fav.alias }}</td>
              <td class="px-4 py-2 text-center">{{ parada_fav.id_parada }}</td>
              <td class="px-4 py-2 text-center">
                <a [routerLink]="['/admin','paradaFav','plist','byuser', parada_fav.user.id]">
                  {{parada_fav.user.id}} {{parada_fav.user.username}}
                </a>
              </td>
              <td class="px-4 py-2 text-center">
                <button class="rounded-full border border-gray-300 px-3 py-1 m-1
                 hover:bg-gray-200" [routerLink]="['/admin','paradaFav','view', parada_fav.id]">
                  <i class="fas fa-info-circle"></i>
                </button>
                <!-- <button class="rounded-full border border-gray-300 px-3 py-1 m-1
                 hover:bg-gray-200" (click)="doView(parada_fav)">
                  <i class="fas fa-arrow-up"></i>
                </button> -->
                <button class="rounded-full border border-gray-300 px-3 py-1 m-1
                 hover:bg-gray-200" [routerLink]="['/admin','paradaFav','edit', parada_fav.id]">
                  <i class="fas fa-edit"></i>
                </button>
                <button class="rounded-full border border-gray-300 px-3 py-1 m-1
                 hover:bg-gray-200" (click)="doRemove(parada_fav)">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
      <p-paginator (onPageChange)="onPageChang($event)" [first]="oPaginatorState.first!" [rows]="oPaginatorState.rows!"
        [totalRecords]="oPage?.totalElements || 0" [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
    </div>
  </div>
</div>
}