<section class="py-14 md:h-[34rem] sm:h-auto">
  <div class="bg-gray-100 flex items-center justify-center">
    <div class="bg-white p-8 m-16 rounded-lg shadow-lg">
      <div class="flex justify-center">
        <div class="text-center">
          <h1 class="text-center text-2xl font-bold m-5">
            Restablir contrasenya
          </h1>
          <h3 class="m-5 text-lg font-normal text-gray-500 dark:text-gray-400">
            Introduïu el vostre correu electrònic per crear una nova contrasenya
          </h3>
          <div class="justify-center m-5">
            <form [formGroup]="sendEmailForm" (ngSubmit)="onSubmit()" class="m-5 flex flex-col items-center max-w-sm mx-auto">
              <div class="w-full flex">
                <div class="relative w-full mr-2">
                  <input id="mailTo" formControlName="mailTo" type="text"
                    class="p-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-grey-500 focus:border-grey-500 block w-full "
                    placeholder="Introdueix email" required />
                </div>
                <!-- Botón para pantallas grandes -->
                <div class="hidden sm:flex">
                  <button type="submit"
                    class="p-2 text-sm font-medium text-white bg-red-700 rounded-lg border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300">
                    <i class="fa-solid fa-angle-right"></i>
                    <span class="sr-only">Enviar correo</span>
                  </button>
                </div>
              </div>
              <!-- Botón para pantallas pequeñas -->
              <div class="flex justify-center sm:hidden mt-2">
                <button type="submit" class="p-2 text-sm font-medium text-white bg-red-700 rounded-lg border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 w-full">
                  Canviar contrasenya
                  <span class="sr-only">Enviar correo</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
