
<div class="columns is-centered">

  <div class="column is-6 ">
    <div class="box m-5">
      <input class="input is-info" type="text" placeholder="Buscar parada" [(ngModel)]="searchTermAll" (input)="searchAllParadas()">

      <div class="is-flex is-justify-content-center">

        <table class="table is-hoverable is-fullwidth">
          <thead>
            <tr>
              <th class="has-text-centered">PARADAS</th>

            </tr>
          </thead>
          <tbody>

            @for(parada of paradasAll; track paradasAll){
            <tr>
              <td class="has-text-centered" [routerLink]="['/user','parada','view',parada]"> {{ parada }}
               </td>
            </tr>
            }


          </tbody>
        </table>
      </div>


    </div>


  </div>

@if(sessionActive){
  <div class="column is-6">
    <div class="box m-5">
      <input class="input is-info" type="text" placeholder="Buscar parada" [(ngModel)]="searchTermFavs" (input)="searchParadasFavs()">

      <div class="is-flex is-justify-content-center">

        <table class="table is-hoverable is-fullwidth">
          <thead>
            <tr>
              <th class="has-text-centered">TUS PARADAS FAVORITAS</th>
            </tr>
          </thead>
          <tbody>

            @for(paradaFav of paradasFavs; track paradasFavs){
            <tr>
              <td class="has-text-centered" [routerLink]="['/user','parada','view',paradaFav]"> {{paradaFav.id_parada}} : {{ paradaFav.alias }}</td>
            </tr>
            }


          </tbody>
        </table>
      </div>


    </div>


  </div>
}
</div>