<div class="container mx-auto mt-20">
  <div class="flex justify-center">
    <div class="w-full max-w-sm"> <!-- Controla el ancho máximo aquí -->
      <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <h2 class="text-center text-2xl font-bold mb-4">Actualizar Contraseña</h2>
        <p class="text-center mb-8">Ingrese su nueva contraseña</p>
        <form [formGroup]="updatePasswordForm" (ngSubmit)="onSubmit()" class="flex flex-col items-center">
          <div class="mb-4 w-full">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
              {{ "user.password" }}:
            </label>
            <input type="password" id="password" placeholder="{{ 'user.password'  }}" formControlName="password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            <p class="text-red-500 text-xs italic" *ngIf="updatePasswordForm.get('password')?.hasError('required')">{{ "login.password-required"   }}</p>
            <p class="text-red-500 text-xs italic" *ngIf="updatePasswordForm.get('password')?.hasError('minlength')">{{ "login.password-minlength"  }}</p>
          </div>
          <div class="mb-6 w-full">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="confirmPassword">
              {{ "Confirm Password"  }}:
            </label>
            <input type="password" id="confirmPassword" placeholder="{{ 'Confirm Password'  }}" formControlName="confirmPassword" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            <p class="text-red-500 text-xs italic" *ngIf="updatePasswordForm.get('confirmPassword')?.hasError('required')">{{ "login.password-required"  }}</p>
            <p class="text-red-500 text-xs italic" *ngIf="updatePasswordForm.get('confirmPassword')?.hasError('minlength')">{{ "login.password-minlength"  }}</p>
          </div>
          <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
            Recuperar Contraseña
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
