<div class="bg-gray-100 flex items-center justify-center mb-10 mt-10">
  <div class="flex flex-col items-center justify-center ">
    <!-- <div class="flex justify-center mb-5">
        <span class="inline-block bg-gray-200 rounded-full p-3">
          <i class="fa-solid fa-key"></i>
        </span>
      </div> -->
    <div class="m-5 bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0 ">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-2xl font-bold m-5">Actualitza contrasenya</h1>
        <h3 class="m-5 text-lg font-normal text-gray-500 dark:text-gray-400">
          Introdueix la nova contrasenya
        </h3>
        <div class="justify-center m-5">
          <form [formGroup]="updatePasswordForm" (ngSubmit)="onSubmit()" class="space-y-4 md:space-y-6">
            <div>
              <label for="password" class="block mb-2 text-sm font-medium text-gray-800 dark:text-white">
                Introdueix la contrasenya
              </label>
              <input type="password" id="password" formControlName="password"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-500 focus:border-gray-500 block w-full"
                required (blur)="lostFocus.password = true" />
            </div>
            <div class="text-sm text-red-600 mt-1">
              @if(updatePasswordForm.get('password')?.hasError('required') && lostFocus.password){
              <p class="mt-2 text-sm text-red-600 dark:text-red-500">Contrasenya requerida</p>
              }
              @if(updatePasswordForm.get('password')?.hasError('minlength') && lostFocus.password){
              <p class="mt-2 text-sm text-red-600 dark:text-red-500">La contrasenya ha de tenir com a mínim 5 caràcters
              </p>
              }
            </div>
            <div>
              <label for="password" class="block mb-2 text-sm font-medium text-gray-800 dark:text-white">
                Repeteix la contrasenya
              </label>
              <input type="password" id="confirmPassword" formControlName="confirmPassword"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-500 focus:border-gray-500 block w-full"
                required (blur)="lostFocus.confirmPassword = true" />
            </div>
            <div class="text-sm text-red-600 mt-1">
              @if(updatePasswordForm.get('confirmPassword')?.hasError('required') && lostFocus.confirmPassword){
              <p class="mt-2 text-sm text-red-600 dark:text-red-500">Contrasenya requerida</p>
              }

            </div>
            @if(updatePasswordForm.valid){
            <button type="submit" class="w-full bg-red-600 text-white px-4 py-2 rounded-lg 
                         hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-blue-500 
                         focus:ring-opacity-50">

              Restablir contrasenya

            </button>
            }@else{
            <button type="submit"
              class=" w-full text-white bg-red-500 cursor-not-allowed font-medium rounded-lg text-sm px-5 py-2.5 text-center"
              disabled>

              Restablir contrasenya

            </button>
          }
          </form>
        </div>
      </div>
    </div>
  </div>
</div>