<!-- <div class="container mx-auto mt-20">
  <div class="flex justify-center">
    <div class="w-full max-w-sm"> 
      <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <h2 class="text-center text-2xl font-bold mb-4">Actualizar Contraseña</h2>
        <p class="text-center mb-8">Ingrese su nueva contraseña</p>
        <form [formGroup]="updatePasswordForm" (ngSubmit)="onSubmit()" class="flex flex-col items-center">
          <div class="mb-4 w-full">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
              {{ "user.password" }}:
            </label>
            <input type="password" id="password" placeholder="{{ 'user.password'  }}" formControlName="password"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            <p class="text-red-500 text-xs italic" *ngIf="updatePasswordForm.get('password')?.hasError('required')">{{
              "login.password-required" }}</p>
            <p class="text-red-500 text-xs italic" *ngIf="updatePasswordForm.get('password')?.hasError('minlength')">{{
              "login.password-minlength" }}</p>
          </div>
          <div class="mb-6 w-full">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="confirmPassword">
              {{ "Confirm Password" }}:
            </label>
            <input type="password" id="confirmPassword" placeholder="{{ 'Confirm Password'  }}"
              formControlName="confirmPassword"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            <p class="text-red-500 text-xs italic"
              *ngIf="updatePasswordForm.get('confirmPassword')?.hasError('required')">{{ "login.password-required" }}
            </p>
            <p class="text-red-500 text-xs italic"
              *ngIf="updatePasswordForm.get('confirmPassword')?.hasError('minlength')">{{ "login.password-minlength" }}
            </p>
          </div>
          <button type="submit"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
            Recuperar Contraseña
          </button>
        </form>
      </div>
    </div>
  </div>
</div> -->

<section class="py-14 md:h-[34rem] h-[34rem]">
  <div class="bg-gray-100 flex items-center justify-center">
    <div class="bg-white p-8 m-5 rounded-lg shadow-lg">
      <div class="flex justify-center">
        <div class="text-center">
          <h1 class="text-2xl font-bold m-5">Actualitza contrasenya</h1>
          <h3 class="m-5 text-lg font-normal text-gray-500 dark:text-gray-400">
            Introdueix la nova contrasenya
          </h3>
          <div class="justify-center m-5">
            <form [formGroup]="updatePasswordForm" (ngSubmit)="onSubmit()" class="m-5 items-center max-w-sm mx-auto">
              <div class="relative w-full mb-5">
                <input type="password" id="password" formControlName="password"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-500 focus:border-gray-500 block w-full"
                  placeholder="Introdueix la contrasenya" required />
              </div>
              <div class="relative w-full mb-5">
                <input type="password" id="confirmPassword" formControlName="confirmPassword"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-500 focus:border-gray-500 block w-full"
                  placeholder="Repeteix la contrasenya" required />
              </div>
              <button type="submit"
                class="w-full text-white bg-red-600 hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">

                Restablir contrasenya

              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>