
@if(status != null){
  <div class="notification is-danger mt-3">
    {{ status!.error.message }} - {{ status!.message }}
  </div>
  }@else{
  
  
  @if(status == null){
  <table class="table is-fullwidth mt-6 mb-6"> @if(oUser){
    <tbody>
      <tr>
        <th class="has-text-centered">PORPIEDAD</th>
        <th class="has-text-centered">INFORMACIÓN</th>
      </tr>
      <tr>
        <td class="has-text-centered">ID</td>
        <td class="has-text-centered is-vcentered">{{ oUser.id }}</td>
      </tr>
      <tr>
        <td class="has-text-centered">Username</td>
        <td class="has-text-centered is-vcentered">{{ oUser.username }}</td>
      </tr>
      <tr>
        <td class="has-text-centered">Email</td>
        <td class="has-text-centered is-vcentered">{{ oUser.email }}</td>
      </tr>
      <tr>
        <td class="has-text-centered">Rol</td>
        <td class="has-text-centered is-vcentered">
          @if(oUser.role==false){
          Admin
          }@else {
          User
          }
        </td>
  
      </tr>
  
    </tbody>
    }
  
  </table>
  }
  
  }