
  @if(status != null){
    <div class="bg-red-500 mt-3 text-white p-4">
      {{ status!.error.message }} - {{ status!.message }}
    </div>
    }@else{
    
    
    @if(status == null){
    
    <div class="hidden md:block">
    <div class="flex justify-center mb-10">
      <div class="w-full sm:w-4/4 md:w-4/4 lg:w-9/12 xl:w-8/12 ">
        <div class="bg-white border rounded-lg shadow-md pb-5">
          <div class="text-center mt-14">
            <div class="overflow-x-auto">
              <table class="mx-auto text-center divide-y m-1">
                @if(oUser){
                <thead class="text-md text-gray-700 uppercase">
                  <tr>
                    <th class="px-4 py-2 text-center ">PROPIETAT</th>
                    <th class="px-4 py-2 text-center ">INFO</th>
                  </tr>
                </thead>
                <tbody>
               @if(oUser.role==false){
                  <tr class="border-b">
                    <th class="px-4 py-2 text-center ">ID</th>
                    <td class="text-gray-700 px-4 py-2 text-center">{{ oUser.id }}</td>
                  </tr>
                }
                  <tr class="border-b">
                    <th class="px-4 py-2 text-center ">Nom d'usuari</th>
                    <td class="text-gray-700 px-4 py-2 text-center">{{ oUser.username }}</td>
                  </tr>
                  <tr class="border-b">
                    <th class="px-4 py-2 text-center ">Email</th>
                    <td class="text-gray-700 px-4 py-2 text-center">{{ oUser.email }}</td>
                  </tr>
                  @if(oUser.role==false){
                  <tr class="border-b">
                    <th class="px-4 py-2 text-center ">Rol</th>
                    <td  class="text-gray-700 px-4 py-2 text-center">
                      @if(oUser.role==false){
                      Admin
                      }@else {
                      Usuari
                      }
                    </td>
                  </tr>
                  }
    
                </tbody>
                }
    
              </table>
            </div>
    
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sm:hidden">
    <div class="flex justify-center mb-10">
      <div class="w-full sm:w-4/4 md:w-4/4 lg:w-9/12 xl:w-8/12 ">
        <div class="bg-white border rounded-lg shadow-md pb-5">
          <div class="text-center ">
            <div class="overflow-x-auto">
            @if(oUser) {
              <p class="text-gray-700 mb-2 mt-4"><strong>Nom d'usuari</strong></p>
              <p  class="text-gray-700 mb-4">  {{ oUser.username }}</p>
              <p></p>
              <p class="text-gray-700 mb-2"><strong>Correu</strong> </p>
               <p  class="text-gray-700 mb-2"> {{ oUser.email }}</p>             
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
      }
    
      }