<!--para movil-->
<div class="p-4">
  <div class="flex flex-col md:flex-row items-center m-5 lg:gap-4">
    <div class="flex items-center">
      <h1 class="text-3xl text-gray-700 font-bold md:ml-10 lg:ml-60">Ruta línea {{linea}}</h1>
      <button (click)="goBack()" class="flex justify-center m-4 bg-gray-200 rounded-full p-3 focus:outline-none">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <line x1="18" y1="6" x2="6" y2="18" />
          <line x1="6" y1="6" x2="18" y2="18" />
        </svg>
      </button>
    </div>


    <div class="flex justify-center md:justify-start md:mt-0">
      <button type="button" (click)="onPrint()"
        class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-4 py-2 m-2">PDF</button>
    </div>
  </div>
  <div class="container flex justify-center mb-10">
    <div class="w-full md:w-4/4 lg:w-10/12 xl:w-8/12">
      <div class="bg-white border rounded-lg shadow-md ">
        <div class="overflow-auto m-4">
          @if(linea){
          <input type="checkbox" id="zoomCheck">
          <label for="zoomCheck">
              <img class="mt-5"
                [src]="'../../../../assets/rutas/Esquema-Paradas-Línea-' + linea + '-EMT-Valencia.gif'"
                alt="Ruta de la línea {{ linea }}" >
            </label>
          }
     
        </div>
      </div>
    </div>
  </div>
</div>


