input[type=checkbox] {
    display: none;
  }
  
  .container img {
    transition: transform 0.25s ease;
    cursor: zoom-in;
  }
  
  input[type=checkbox]:checked ~ label > img {
    transform: scale(1.5);
   
    padding-top: 100px;
    cursor: zoom-out;
  }

