<section class="bg-gray-50">
  <div class="flex flex-col items-center justify-center px-6 py-8 lg:py-0z">
    <div
      class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 ">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <img src="../../../../assets/img/emt.jpg" />
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
          Registra't
        </h1>
        <form [formGroup]="signInForm" class="space-y-4 md:space-y-6" action="#" (ngSubmit)="onSubmit()">
          <!-- Username -->
          <div>
            <label for="username" class="block mb-2 text-sm font-medium text-gray-800 dark:text-white">Nom
              d'usuari</label>
            <input type="text" name="username" id="username" formControlName="username"
              class="bg-gray-50 border border-gray-300 text-gray-800 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 "
              (blur)="lostFocus.username = true">
          </div>
          <div class="text-sm text-red-600 mt-1">
            @if(signInForm.get('username')?.hasError('required') && lostFocus.username){
            <p class="mt-2 text-sm text-red-600 dark:text-red-500">Nom d'usuari requerit</p>
            }
            @if(signInForm.get('username')?.hasError('minlength') && lostFocus.username){
              <p class="mt-2 text-sm text-red-600 dark:text-red-500">El nom d'usuari ha de tenir més de 3 caràcters</p>
              }
              @if(signInForm.get('username')?.hasError('maxlength') && lostFocus.username){
              <p class="mt-2 text-sm text-red-600 dark:text-red-500">El nom d'usuari ha de tenir menys de 15 caràcters</p>
              }
              @if(signInForm.get('username')?.hasError('usernameExists') && lostFocus.username){
              <p class="mt-2 text-sm text-red-600 dark:text-red-500">Aquest nom d'usuari ja existeix</p>
              }
          </div>

          <!-- Password -->
          <div>
            <label for="password"
              class="block mb-2 text-sm font-medium text-gray-800 dark:text-white">Contrasenya</label>
            <input type="password" name="password" id="password" placeholder="••••••••" formControlName="password"
              class="bg-gray-50 border border-gray-300 text-gray-800 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 "
              required=""
              (blur)="lostFocus.password = true">
          </div>
          <div class="text-sm text-red-600 mt-1">
            @if(signInForm.get('password')?.hasError('required') && lostFocus.password){
            <p class="mt-2 text-sm text-red-600 dark:text-red-500">Contrasenya requerida</p>
            }
            @if(signInForm.get('password')?.hasError('minlength') && lostFocus.password){
            <p class="mt-2 text-sm text-red-600 dark:text-red-500">La contrasenya ha de tenir com a mínim 5 caràcters
            </p>
            }
          </div>

          <!-- Email -->
          <div>
            <label for="email" class="block mb-2 text-sm font-medium text-gray-800 dark:text-white">Email</label>
            <input type="text" name="email" id="email" formControlName="email"
              class="bg-gray-50 border border-gray-300 text-gray-800 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
              (blur)="lostFocus.email = true">
          
            </div>
          <div class="text-sm text-red-600 mt-1">
            @if(signInForm.get('email')?.hasError('required') && lostFocus.email){
            <p class="mt-2 text-sm text-red-600 dark:text-red-500">Email requerit</p>
            }
            @if(signInForm.get('email')?.hasError('email') && lostFocus.email){
            <p class="mt-2 text-sm text-red-600 dark:text-red-500">Email no vàlid</p>
            }
            @if(signInForm.get('email')?.hasError('emailExists') && lostFocus.email){
              <p class="mt-2 text-sm text-red-600 dark:text-red-500">El correu electrònic ja existeix</p>
              }
          </div>

          <p class="  text-sm font-light text-gray-500 dark:text-gray-400">
            Ja tens un compte? <a 
              class=" text-gray-800 font-medium text-primary-600 hover:underline dark:text-primary-500">
              <strong [routerLink]="['/login']"  class="cursor-pointer">Inicia
                sessió</strong></a>
          </p>
          @if(signInForm.valid){
          <button type="submit"
            class="w-full text-white bg-red-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
            Registra't</button>
          }@else{
          <button type="button"
            class=" w-full text-white bg-red-500 cursor-not-allowed font-medium rounded-lg text-sm px-5 py-2.5 text-center"
            disabled>Registra't</button>

          }


        </form>

      </div>
    </div>
  </div>
</section>