<div class="is-flex is-justify-content-center has-text-centered">
  <h1 class="titulo is-size-4 has-text-weight-bold mt-6">Cerrar sesión</h1>
</div>
<div class="container">
  <div class="card m-6 is-small"> <!-- Agrega la clase is-small aquí -->
    <header class="card-header">
      <p class="card-header-title">
        Está seguro de que desea cerrar la sesión?
      </p>
      <button class="card-header-icon">
      </button>
    </header>
    <div class="card-content">
      <div class="content">
        <div class="has-text-centered mt-3">
          <div class="buttons is-centered">
            <button class="button is-link" (click)="logout()">
              <span class="icon">
                <i class="fas fa-check"></i>
              </span>
              <span>Yes</span>
            </button>
            <button class="button is-primary" (click)="cancel()">
              <span class="icon">
                <i class="fas fa-times"></i>
              </span>
              <span>No</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
