<app-menu-unrouted></app-menu-unrouted>
<router-outlet></router-outlet>
<app-footer-unrouted></app-footer-unrouted>
<p-toast position="bottom-center"></p-toast> 
 
<p-confirmDialog #cd>
    <ng-template pTemplate="footer">
      <button class="w-20 bg:text-gray-900 bg-white hover:bg-gray-100 border border-gray-300 text-gray-700 font-bold py-2 px-4 rounded m-3" (click)="cd.reject()">
        <span>No</span>
      </button>
      <button class="w-20 bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded m-3"  (click)="cd.accept()">
        <span>Sí</span>
      </button>
    </ng-template>
  </p-confirmDialog>