@if(status != null){
<div class="bg-red-500 mt-3 text-white p-4">
  {{ status!.error.message }} - {{ status!.message }}
</div>
}@else{

@if(status == null){
  <section class=" py-16">
<div class="flex justify-center mb-10">
  <div class="w-full sm:w-4/4 md:w-4/4 lg:w-9/12 xl:w-8/12 ">
    <div class="bg-white border rounded-lg shadow-md pb-5">
      <div class="text-center mt-14">
        <div class="overflow-x-auto">
          <table class="mx-auto text-center divide-y m-5">
            <thead class="text-md text-gray-700 uppercase">
              <tr>
                <th class="px-4 py-2 text-center ">PROPIETAT</th>
                <th class="px-4 py-2 text-center ">INFO</th>
              </tr>
            </thead>
            <tbody>
              <tr class="border-b">
                <th class="px-4 py-2 text-center ">ID</th>
                <td  class="text-gray-700 px-4 py-2 text-center">{{ oParadaFav.id }}</td>
              </tr>
              <tr class="border-b">
                <th class="px-4 py-2 text-center ">Alias</th>
                <td  class="text-gray-700 px-4 py-2 text-center">{{ oParadaFav.alias }}</td>
              </tr>
              <tr class="border-b">
                <th class="px-4 py-2 text-center">ID Parada</th>
                <td  class="text-gray-700 px-4 py-2 text-center">{{ oParadaFav.id_parada }}</td>
              </tr>

              <tr class="border-b">
                <th class="px-4 py-2 text-center">Usuari</th>
                <td  class="text-gray-700 px-4 py-2 text-center">
                  <a [routerLink]="['/admin','user','view',oParadaFav.user.id]">{{oParadaFav.user.id}}
                    {{oParadaFav.user.username}}</a>
                </td>
              </tr>

            </tbody>


          </table>
        </div>

      </div>
    </div>
  </div>
  </div>
  </section>
  }

  }