

@if(status != null){
<div class="notification is-danger mt-3">
  {{ status!.error.message }} - {{ status!.message }}
</div>
}@else{


@if(status == null){
<table class="table is-fullwidth mt-6 mb-6"> @if(oParadaFav){
  <tbody>
    <tr>
      <th class="has-text-centered has-text-white">PORPIEDAD</th>
      <th class="has-text-centered has-text-white">INFORMACIÓN</th>
    </tr>
    <tr>
      <th class="has-text-centered has-text-white">ID</th>
      <td class="has-text-centered is-vcentered">{{ oParadaFav.id }}</td>
    </tr>
    <tr>
      <th class="has-text-centered has-text-white">Denominación</th>
      <td class="has-text-centered is-vcentered">{{ oParadaFav.denominacion }}</td>
    </tr>
    <tr>
      <th class="has-text-centered has-text-white">ID Parada API</th>
      <td class="has-text-centered is-vcentered">{{ oParadaFav.id_parada_api }}</td>
    </tr>

    <tr>
      <th class="has-text-centered has-text-white">Users</th>
      <td class="has-text-centered is-vcentered">
        <!-- el id esta en la tabla user_parada_fav
          <a [routerLink]="['/admin','parada_fav','plist','byuser',oUser.id]"
          *ngIf="oUser.paradas_fav>0">{{oUser.paradas_fav}}</a>
      <span *ngIf="oUser.paradas_fav==0">0</span>
  
      -->
      </td>
    </tr>

  </tbody>
  }

</table>
}

}