
@if(status != null){
<div class="notification is-danger mt-3">
  {{ status!.error.message }} - {{ status!.message }}
</div>
}@else{


@if(status == null){

<div class="columns is-centered m-6">
  <div class="column is-9">
    <div class="box">
      <div class="is-flex is-justify-content-center">

        <table class="table">
          <thead>
            <tr>
              <th>Número de Parada</th>
              <th>Nombre de Parada</th>
              <th>Línea</th>
              <th>Tiempo</th>
            </tr>
          </thead>
          <tbody>
            
             
                @for(bus of oParadaEmt; track bus){

                
              <tr>
              <td>{{ bus.numParada }}</td>
              <td>{{ bus.nomParada }}</td>
              <td>{{ bus.nomLinea }}</td>
              <td>{{ bus.tiempo }}</td>
            </tr>
          }
        
          </tbody>
        </table>
        
    
        

      </div>

    </div>
  </div>
</div>
}

}