<!--BULMA-->
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">
      <img src="../../../../assets/img/moo-inv.png" />
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      </a>

  </div>

  <div id="navMenu" class="navbar-menu">
    <div class="navbar-start ">
      <a class="navbar-item " routerLink="/home" routerLinkActive="is-active">
        <i class="pi pi-fw pi-home m-2"></i>
        Inicio
      </a>

      <a class="navbar-item " routerLink="user/linea/plist" routerLinkActive="is-active">
        <i class="pi pi-sort-numeric-down-alt m-2"></i>
        Lineas
      </a>
      <a class="navbar-item " routerLink="user/parada/plist" routerLinkActive="is-active">
        <i class="pi pi-map-marker m-2"></i>
        Paradas
      </a>
      <a class="navbar-item">
        <i class="pi pi-info-circle m-2" routerLink="/user/user/more" routerLinkActive="is-active"></i>
        Más
      </a>
      @if(strUserName && oSessionUser?.role==false){

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          <i class="pi pi-cog m-2"></i>
          Usuarios admin
        </a>

        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item " routerLink="/admin/user/new" routerLinkActive="is-active">
            <i class="pi pi-user-plus m-2 "></i>
            Añadir usuario
          </a>
          <a class="navbar-item" routerLink="/admin/user/plist" routerLinkActive="is-active">
            <i class="pi pi-align-center m-2"></i>
            Lista de usuarios
          </a>
        </div>
      </div>

      
     
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" routerLinkActive="is-active">
          <i class="pi pi-cog m-2"></i>
          Paradas admin
        </a>

        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item " routerLink="/admin/paradaFav/new" routerLinkActive="is-active">
            <i class="pi pi-heart m-2"></i>
            Añadir parada
          </a>
          <a class="navbar-item" routerLink="/admin/paradaFav/plist" routerLinkActive="is-active">
            <i class="pi pi-align-center m-2"></i>
            Lista de paradas
          </a>
        </div>
      </div>
      }


    </div>



    <div class="navbar-end">
      @if(strUserName){
      <div class="navbar-item">
        <span class="navbar-text m-3">
          <a class="nav-link" (click)="doSessionUserView($event)" href="#">{{strUserName}}</a>
        </span>
        <button class="button is-link" (click)="redirectToLogout()">
          <i class="fa-solid fa-power-off"></i>
        </button>
      </div>
      }@else{
      <div class="navbar-item">
        <span class="navbar-text m-3">
          Not logged in
        </span>
        <button class="button is-link" (click)="redirectToLogin()">
          <i class="fa-solid fa-right-to-bracket"></i>
        </button>
      </div>
      }
    </div>
  </div>
</nav>