<p-menubar [model]="items">
  <div>

    <input id="searchBar" type="text" pInputText placeholder="Search">

    @if(strUserName){
    <span class="userInfo">
      
      <a class="nav-link" (click)="doSessionUserView($event)" href="#">{{strUserName}}</a>
   
    </span>
    <button class="buttonLogout" pButton label="Logout" icon="pi pi-power-off" (click)="redirectToLogout()"></button>
    }@else{
    <span class="userInfo" class="navbar-text mx-1">
      Not logged in
    </span>
    <button class="buttonLogin" pButton label="Login" icon="pi pi-sign-in" (click)="redirectToLogin()"></button>
    }

  </div>
</p-menubar>