<!-- 


<div class="container mb-5">
  <div class="columns has-text-centered is-centered">

    <div class="box mt-5">
      @if (status != null){
      <div class="notification is-danger mt-3">
        {{ status!.error.message }} - {{ status!.message }}
      </div>
      }@else{

        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
     
          @if(operation=='EDIT'){
          <div class="field">
            <label class="label ">ID</label>
            <div class="control has-icons-left">
              <input class="input" formControlName="id" placeholder="ID" required readonly>
              <span class="icon is-left">
                <i class="fas fa-id-card"></i>
              </span>
            </div>
          </div>
          }
 
          <div class="field">
            <label class="label ">Username</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input" formControlName="username" required (blur)="lostFocus.username = true">
              <span class="icon  is-left">
                <i class="fas fa-user"></i>
              </span>
            </div>
          </div>
          @if(lostFocus.username){

          @if(hasError('username', 'required')){
          <i class="fas fa-exclamation-triangle has-text-danger"></i>
          <div class="has-text-danger">El username es requerido</div>
          }
          @if(hasError('username', 'pattern')){
          <i class="fas fa-exclamation-triangle has-text-danger"></i>
          <div class="has-text-danger">El username debe ser alfanumérico</div>
          }
          @if(hasError('username', 'minlength')){
          <i class="fas fa-exclamation-triangle has-text-danger"></i>
          <div class="has-text-danger">El username debe tener más de 3 caracteres</div>
          }
          @if(hasError('username', 'maxlength')){
          <i class="fas fa-exclamation-triangle has-text-danger"></i>
          <div class="has-text-danger">El username debe tener menos de 15 caracteres</div>
          }
          }

          <div class="field">
            <label class="label">Email</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input" formControlName="email" required (blur)="lostFocus.email = true">
              <span class="icon is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </div>
          </div>

          @if(lostFocus.email){

          @if(hasError('email', 'required')){
          <i class="fas fa-exclamation-triangle has-text-danger"></i>
          <div class="has-text-danger">El email es requerido</div>
          }
          @if(hasError('email', 'email')){
          <i class="fas fa-exclamation-triangle has-text-danger"></i>
          <div class="has-text-danger">El email debe tener una arroba y un dominio </div>
          }

          }

          <div class="field has-text-centered" (mouseleave)="checkRoleError()" tabindex="0">
            <label class="label">Rol</label>
            <div class="control">
              <label class="radio">
                <input type="radio" formControlName="role" [value]="false" [(ngModel)]="selectedRole">
                Admin
              </label>
              <label class="radio">
                <input type="radio" formControlName="role" [value]="true" [(ngModel)]="selectedRole">
                User
              </label>
            </div>
            @if(userForm.get('role')?.errors && (userForm.get('role')?.touched || showRoleError)){
              <i class="fas fa-exclamation-triangle has-text-danger"></i>
              <div class="has-text-danger">Debe seleccionar un rol</div>
            }
          </div>









          <div class="field m-3">
            <button class="button is-link" type="button" (click)="onSubmit()" [disabled]="!userForm.valid">
              Guardar User
            </button>
          </div>
        </form>

      }
    </div>
  </div>
 -->



  <div class="bg-gray-100 flex items-center justify-center ">
    <div class="bg-white p-8 rounded-lg shadow-lg max-w-sm w-full">
        <div class="flex justify-center mb-6">
            <span class="inline-block bg-gray-200 rounded-full p-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12 4a4 4 0 0 1 4 4a4 4 0 0 1-4 4a4 4 0 0 1-4-4a4 4 0 0 1 4-4m0 10c4.42 0 8 1.79 8 4v2H4v-2c0-2.21 3.58-4 8-4"/></svg>
            </span>
        </div>
        <h2 class="text-2xl font-semibold text-center mb-4">Create a new account</h2>
        <p class="text-gray-600 text-center mb-6">Enter details</p>
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
          <div class="mb-4">
                <label for="fullName" class="block text-gray-700 text-sm font-semibold mb-2">Username *</label>
                <input type="text" id="fullName" class="form-input w-full px-4 py-2 border rounded-lg text-gray-700 focus:ring-blue-500" required placeholder="James Brown">
            </div>
            <div class="mb-4">
                <label for="email" class="block text-gray-700 text-sm font-semibold mb-2">Email *</label>
                <input type="email" id="email" class="form-input w-full px-4 py-2 border rounded-lg text-gray-700 focus:ring-blue-500" required placeholder="hello@alignui.com">
            </div>
<label class="block text-gray-700 text-sm font-semibold mb-2" >Role *</label>
<ul class="items-center w-full text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg sm:flex m-5">
    <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
        <div class="flex items-center ps-3">
            <input id="horizontal-list-radio-license" type="radio" value="" name="list-radio" class="w-4 h-4 text-red-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
            <label for="horizontal-list-radio-license" class="w-full py-3 ms-2 text-sm font-medium text-gray-900 ">User </label>
        </div>
    </li>
    <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
        <div class="flex items-center ps-3">
            <input id="horizontal-list-radio-id" type="radio" value="" name="list-radio" class="w-4 h-4 text-red-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
            <label for="horizontal-list-radio-id" class="w-full py-3 ms-2 text-sm font-medium text-gray-900 ">Admin</label>
        </div>
    </li>

</ul>

            <button type="submit" class="w-full bg-red-600 text-white px-4 py-2 rounded-lg 
            hover:bg-red-500 focus:outline-none focus:ring-2 focus:ring-blue-500 
            focus:ring-opacity-50 "(click)="onSubmit()" [disabled]="!userForm.valid" >Create</button>
            
            
        </form>
    </div>
</div>