

<div class="bg-gray-100 flex items-center justify-center mb-10 mt-10">
  <div class="bg-white p-8 m-5 rounded-lg shadow-lg max-w-sm w-full">
    <div class="flex justify-center mb-5">
      <span class="inline-block bg-gray-200 rounded-full p-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path fill="currentColor"
            d="M12 4a4 4 0 0 1 4 4a4 4 0 0 1-4 4a4 4 0 0 1-4-4a4 4 0 0 1 4-4m0 10c4.42 0 8 1.79 8 4v2H4v-2c0-2.21 3.58-4 8-4" />
        </svg>
      </span>
    </div>
    @if(operation=='EDIT'){
        <h2 class="text-2xl font-semibold text-center mb-4">Editar usuari</h2>
    }@else{
      <h2 class="text-2xl font-semibold text-center mb-4">Crear un usuari nou</h2>
    }
    <p class="text-gray-600 text-center mb-5">Introdueix els detalls</p>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      @if(operation=='EDIT'){
      <div class="mb-4">
        <label for="id" class="block text-gray-700 text-sm font-semibold mb-2">ID </label>
        <input type="text" id="fullName" required readonly
          class="form-input w-full px-4 py-2 border rounded-lg text-gray-700 focus:ring-blue-500" required
          formControlName="id" placeholder="ID">
      </div>
      }


      <div class="mb-4">
        <label for="username" class="block text-gray-700 text-sm font-semibold mb-2">Nom d'usuari *</label>
        <input type="text" id="username" formControlName="username" required (blur)="lostFocus.username = true"
          class="form-input w-full px-4 py-2 border rounded-lg text-gray-700 focus:ring-blue-500"
          placeholder="Paco234">
      </div>

      <div class="text-sm text-red-600 mt-1 mb-2">
        @if(userForm.get('username')?.hasError('required') && lostFocus.username){
        <p class="mt-2 text-sm text-red-600 dark:text-red-500">Nom d'usuari requerit</p>
        }
        @if(userForm.get('username')?.hasError('minlength') && lostFocus.username){
        <p class="mt-2 text-sm text-red-600 dark:text-red-500">El nom d'usuari ha de tenir més de 3 caràcters</p>
        }
        @if(userForm.get('username')?.hasError('maxlength') && lostFocus.username){
        <p class="mt-2 text-sm text-red-600 dark:text-red-500">El nom d'usuari ha de tenir menys de 15 caràcters</p>
        }
        @if(userForm.get('username')?.hasError('usernameExists') && lostFocus.username){
        <p class="mt-2 text-sm text-red-600 dark:text-red-500">Aquest nom d'usuari ja existeix</p>
        }
      </div>


      <div class="mb-4">
        <label for="email" class="block text-gray-700 text-sm font-semibold mb-2">Email *</label>
        <input type="email" id="email"
          class="form-input w-full px-4 py-2 border rounded-lg text-gray-700 focus:ring-blue-500"
          formControlName="email" required (blur)="lostFocus.email = true" placeholder="ejemplo123@gmail.com">
      </div>
      <div class="text-sm text-red-600 mt-1 mb-2">
        @if(userForm.get('email')?.hasError('required') && lostFocus.email){
        <p class="mt-2 text-sm text-red-600 dark:text-red-500">Email requerit</p>
        }
        @if(userForm.get('email')?.hasError('email') && lostFocus.email){
        <p class="mt-2 text-sm text-red-600 dark:text-red-500">El correu electrònic ha de tenir &#64; i un domini</p>
        }
        @if(userForm.get('email')?.hasError('emailExists') && lostFocus.email){
          <p class="mt-2 text-sm text-red-600 dark:text-red-500">El correu electrònic ja existeix</p>
          }
      </div>


      <div class="mb-4 justify-center">
        <label class="block text-gray-700 text-sm font-semibold mb-2">Role *</label>
  

        <ul class="items-center w-full text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg sm:flex dark:bg-gray-700 dark:border-gray-600 dark:text-white">
          <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
              <div class="flex items-center ps-3">
                <input id="radio" formControlName="role" [(ngModel)]="selectedRole" [value]="false" type="radio" value="1" 
                name="role"
                class="w-4 h-4 text-red-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600">
                <label for="horizontal-list-radio-license" class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"> Admin </label>
              </div>
          </li>
          <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
              <div class="flex items-center ps-3">
                <input id="radio" formControlName="role" [(ngModel)]="selectedRole" [value]="true" type="radio" value="0" checked
                name="role"
                class="w-4 h-4 text-red-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600">                  
                <label for="horizontal-list-radio-id" class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Usuari</label>
              </div>
          </li>
 
      </ul>
      </div>
      @if(userForm.get('role')?.errors && (userForm.get('role')?.touched || showRoleError)){
      <p class="mt-2 text-sm text-red-600 dark:text-red-500">El rol es requerit</p>

      }

     

      @if(userForm.valid){
        <button type="submit" class="w-full bg-red-600 text-white px-4 py-2 rounded-lg 
      hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-blue-500 
      focus:ring-opacity-50" >Guardar</button>
      }@else{
        <button type="button" class=" w-full text-white bg-red-500 cursor-not-allowed font-medium rounded-lg text-sm px-5 py-2.5 text-center" disabled>Guardar</button>
       
      }
      

  

    </form>
  </div>
</div>