


<div class="container mb-5">
  <div class="columns has-text-centered is-centered">

    <div class="box mt-5">
      @if (status != null){
      <div class="notification is-danger mt-3">
        {{ status!.error.message }} - {{ status!.message }}
      </div>
      }@else{

        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
          <!-- Campo 'ID' -->
          @if(operation=='EDIT'){
          <div class="field">
            <label class="label ">ID</label>
            <div class="control has-icons-left">
              <input class="input" formControlName="id" placeholder="ID" required readonly>
              <span class="icon is-left">
                <i class="fas fa-id-card"></i>
              </span>
            </div>
          </div>
          }
          <!-- Campo 'username' -->
          <div class="field">
            <label class="label ">Username</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input" formControlName="username" required (blur)="lostFocus.username = true">
              <span class="icon  is-left">
                <i class="fas fa-user"></i>
              </span>
            </div>
          </div>
          @if(lostFocus.username){

          @if(hasError('username', 'required')){
          <i class="fas fa-exclamation-triangle has-text-danger"></i>
          <div class="has-text-danger">El username es requerido</div>
          }
          @if(hasError('username', 'pattern')){
          <i class="fas fa-exclamation-triangle has-text-danger"></i>
          <div class="has-text-danger">El username debe ser alfanumérico</div>
          }
          @if(hasError('username', 'minlength')){
          <i class="fas fa-exclamation-triangle has-text-danger"></i>
          <div class="has-text-danger">El username debe tener más de 3 caracteres</div>
          }
          @if(hasError('username', 'maxlength')){
          <i class="fas fa-exclamation-triangle has-text-danger"></i>
          <div class="has-text-danger">El username debe tener menos de 15 caracteres</div>
          }
          }


          <!-- Campo 'email' -->
          <div class="field">
            <label class="label">Email</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input" formControlName="email" required (blur)="lostFocus.email = true">
              <span class="icon is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </div>
          </div>

          @if(lostFocus.email){

          @if(hasError('email', 'required')){
          <i class="fas fa-exclamation-triangle has-text-danger"></i>
          <div class="has-text-danger">El email es requerido</div>
          }
          @if(hasError('email', 'email')){
          <i class="fas fa-exclamation-triangle has-text-danger"></i>
          <div class="has-text-danger">El email debe tener una arroba y un dominio </div>
          }

          }
          <!-- Campo 'rol' -->
          <div class="field has-text-centered" (mouseleave)="checkRoleError()" tabindex="0">
            <label class="label">Rol</label>
            <div class="control">
              <label class="radio">
                <input type="radio" formControlName="role" [value]="false" [(ngModel)]="selectedRole">
                Admin
              </label>
              <label class="radio">
                <input type="radio" formControlName="role" [value]="true" [(ngModel)]="selectedRole">
                User
              </label>
            </div>
            @if(userForm.get('role')?.errors && (userForm.get('role')?.touched || showRoleError)){
              <i class="fas fa-exclamation-triangle has-text-danger"></i>
              <div class="has-text-danger">Debe seleccionar un rol</div>
            }
          </div>









          <div class="field m-3">
            <button class="button is-link" type="button" (click)="onSubmit()" [disabled]="!userForm.valid">
              Guardar User
            </button>
          </div>
        </form>

      }
    </div>
  </div>