/* PrimeNG */
@import "primeng/resources/themes/mdc-light-indigo/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";

/* GoogleFont */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');


/*TailwindCSS */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



body {
  font-family: 'Roboto', sans-serif;
  background-color:#f4f6f8;
  color:rgb(0, 0, 0);
}
