<!--FLECHITA PARA VER INFO SIEMPRE SE VE-->


@if(status != null){
<div class="notification is-danger mt-3">
  {{ status!.error.message }} - {{ status!.message }}
</div>
}@else{


@if(status == null){
<table class="table is-fullwidth mt-6 mb-6"> 
  @if(oUser){
  <tbody>
    <tr>
      <th class="has-text-centered has-text-white">PORPIEDAD</th>
      <th class="has-text-centered has-text-white">INFORMACIÓN</th>
    </tr>
    <tr>
      <th class="has-text-centered has-text-white">ID</th>
      <td class="has-text-centered is-vcentered">{{ oUser.id }}</td>
    </tr>
    <tr>
      <th class="has-text-centered has-text-white">Username</th>
      <td class="has-text-centered is-vcentered">{{ oUser.username }}</td>
    </tr>
    <tr>
      <th class="has-text-centered has-text-white">Email</th>
      <td class="has-text-centered is-vcentered">{{ oUser.email }}</td>
    </tr>
    <tr>
      <th class="has-text-centered has-text-white">Rol</th>
      <td class="has-text-centered is-vcentered">
        @if(oUser.role==true){
        Admin
        }@else {
        User
        }
      </td>

    </tr>
    <tr>
      <th class="has-text-centered has-text-white">Paradas Favs</th>
      <td class="has-text-centered is-vcentered">
        @if(oUser.usersParadasFavs !== undefined && oUser.usersParadasFavs > 0){
          {{ oUser.usersParadasFavs }}
        }@else {
          0
        }
        
      </td>
    </tr>

  </tbody>
  }

</table>
}

}