<!--FLECHITA PARA VER INFO SIEMPRE SE VE-->


@if(status != null){
<div class="notification is-danger mt-3">
  {{ status!.error.message }} - {{ status!.message }}
</div>
}@else{


@if(status == null){

<div class="columns is-centered m-6">
  <div class="column is-9">
    <div class="box">
      <div class="is-flex is-justify-content-center">
        <table class="table is-fullwidth mt-6 mb-6">
          @if(oUser){
          <tbody>
            <tr>
              <th class="has-text-centered ">PORPIEDAD</th>
              <th class="has-text-centered ">INFORMACIÓN</th>
            </tr>
            <tr>
              <th class="has-text-centered ">ID</th>
              <td class="has-text-centered is-vcentered">{{ oUser.id }}</td>
            </tr>
            <tr>
              <th class="has-text-centered ">Username</th>
              <td class="has-text-centered is-vcentered">{{ oUser.username }}</td>
            </tr>
            <tr>
              <th class="has-text-centered ">Email</th>
              <td class="has-text-centered is-vcentered">{{ oUser.email }}</td>
            </tr>
            <tr>
              <th class="has-text-centered ">Rol</th>
              <td class="has-text-centered is-vcentered">
                @if(oUser.role==true){
                Admin
                }@else {
                User
                }
              </td>

            </tr>
            <tr>
              <th class="has-text-centered ">Paradas Favs</th>
              <td class="has-text-centered is-vcentered">
                @if(oUser.paradas_favs !== undefined && oUser.paradas_favs > 0){
                {{ oUser.paradas_favs }}
                }@else {
                0
                }

              </td>
            </tr>

          </tbody>
          }

        </table>
      </div>

    </div>
  </div>
</div>
}

}