@if (status != null) {

<div class="bg-red-500 mt-3 text-white p-4">
  {{ status!.error.message }} - {{ status!.message }}
</div>


}@else {
<div class="flex justify-center mb-10">
  <div class="w-full md:w-4/4 lg:w-10/12 xl:w-8/12 ">
    <div class="bg-white border rounded-lg shadow-md pb-4">
      <div class="text-center mt-14">
        <div class="overflow-x-auto">
          <table class="mx-auto text-center divide-y m-1">
            <thead class="text-md text-gray-700 uppercase">
              <tr>
                <th class="px-4 py-2 text-center ">PARADA D'AUTOBÚS</th>
                <th class="px-4 py-2 text-center "><i class="fa-solid fa-gear"></i></th>
              </tr>
            </thead>
            <tbody>
              @for(parada of getCurrentPageItems(); track getCurrentPageItems()){
              <tr class="border-b">
                <td class="text-gray-700 px-4 py-2 text-center">{{ parada.denominacion }}</td>
                <td class="text-gray-700 px-4 py-2 text-center">
                  <button
                    class="rounded-full border border-gray-300 px-3 py-2  hover:bg-gray-200"
                    (click)="onSelectParada(parada.id_parada)">
                    <i class="pi pi-plus-circle"></i>
                  </button>

                </td>

              </tr>
              }
            </tbody>
          </table>
        </div>
     <p-paginator [rows]="pageSize" [totalRecords]="paradas.length" (onPageChange)="onPageChange($event)">
          </p-paginator>


      </div>


    </div>
  </div>
</div>

}