
<div class="is-flex is-justify-content-center has-text-centered">
  <h1 class="titulo is-size-1 has-text-weight-bold">USUARIOS</h1>
</div>



      @if(bLoading){

      <div class="p-card-body">
        <h3 class="p-text-danger">Processing... wait, please.</h3>
        <p-progressSpinner styleClass="custom-spinner" strokeWidth="5" fill="#EEEEEE"
          animationDuration=".5s"></p-progressSpinner>
      </div>

      }@else {
        <div class="is-flex is-justify-content-center has-text-centered">          
          <button class="button is-primary m-3" [routerLink]="['/admin','user','new']" >Añadir usuario</button>
          <button class="button is-link m-3" (click)="doGenerateRandom(10)">+10</button>
          <button class="button is-link m-3 " (click)="doGenerateRandom(100)">+100</button>
          <button class="button is-link m-3 "  (click)="doGenerateRandom(1000)">+1000</button>
          <button class="button is-primary m-3" (click)="doEmpty($event)">Vaciar</button>
        </div>
        
      }


    @if(!bLoading){
    <app-admin-user-plist-unrouted [forceReload]="forceReload"></app-admin-user-plist-unrouted>

    }

<p-confirmDialog #cd>
  <ng-template pTemplate="header">
    <h5><i class="pi pi-exclamation-triangle p-mr-3"></i> Eliminación de Jugador</h5>
  </ng-template>
  <ng-template pTemplate="message">
    <div class="container justify-content-center">
      <app-admin-user-detail-unrouted [id]="oUserToRemove!.id"></app-admin-user-detail-unrouted>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <p>¿Seguro que quieres eliminar el Jugador?</p>
    <button class="p-button p-button-primary m-1" icon="pi pi-times" (click)="cd.reject()">
      <span class="p-button-label">No</span>
    </button>
    <button class="p-button p-button-danger m-1" icon="pi pi-check" (click)="cd.accept()">
      <span class="p-button-label">Sí</span>
    </button>
  </ng-template>
</p-confirmDialog>